
<footer>
  <div class="wrapper row">
    <div class="left col span_6">
      <a href="#"><img class="logo" src="images/logo.png" alt="footer-logo"></a>
    </div>
    <div class="right col span_6">
      <p>2017 Balpreet Punia All Rights Reserved</p>
      <ul>
        <li><a href="https://plus.google.com/" target="_blank"><img src="images/gplus-icon.png" alt="Google Plus"></a></li>
        <li><a href="https://github.com/balpreetpunia" target="_blank"><img src="images/github-icon.png" alt="GitHub"></a></li>
        <li><a href="https://www.facebook.com/mejoekickass" target="_blank"><img src="images/facebook-icon.png" alt="Facebook"></a></li>
        <li><a href="https://twitter.com/?lang=en" target="_blank"><img src="images/twitter-icon.png" alt="Twitter"></a></li>
      </ul>
    </div>
  </div>
</footer>

</body>
</html>