<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="images/head-logo.png" />
  <link rel="stylesheet" media="all" href="/stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/responsive-style.css">
  <link rel="stylesheet" href="/stylesheets/blueberry.css" />
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.blueberry.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.blueberry-load.js"></script>
  <script type="text/javascript" src="/javascripts/back-to-top.js"></script>
  <title></title>
</head>
<body>

<header>
  <div class="top">
    <div class="wrapper">
      <ul>
        <li><a href="https://plus.google.com/" target="_blank"><img src="images/gplus-icon.png" alt="Google Plus"></a></li>
        <li><a href="https://github.com/balpreetpunia" target="_blank"><img src="images/github-icon.png" alt="GitHub"></a></li>
        <li><a href="https://www.facebook.com/mejoekickass" target="_blank"><img src="images/facebook-icon.png" alt="Facebook"></a></li>
        <li><a href="https://twitter.com/?lang=en" target="_blank"><img src="images/twitter-icon.png" alt="Twitter"></a></li>
      </ul>
    </div>
  </div>
  <div id="main">
    <div class="wrapper row">
      <div class="logo col span_4"><a href="/"><img src="images/logo.png"  alt="Azure"></a></div>
      <nav class="col span_8">
					<span onclick="openNav()">
						<div class="bar-1"></div>
						<div class="bar-1"></div>
						<div class="bar-1"></div>
					</span>
        <div id="myNav" class="overlay">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
          <div class="overlay-content">
            <ul id="menu-nav">
              <li><a href="/">HOME</a></li>
              <li><a href="/about">ABOUT ME</a></li>
              <li><a href="/projects">PROJECTS</a></li>
              <li><a href="/services">SERVICES</a></li>
              <li><a href="/contact">CONTACT ME</a></li>
            </ul>
          </div>
        </div>
        <ul id="main-nav">
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT ME</a></li>
          <li><a href="/projects">PROJECTS</a></li>
          <li><a href="/services">SERVICES</a></li>
          <li><a href="/contact">CONTACT ME</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>