<% include ./partials/header.ejs %>
<section id="about-us">
    <div class="wrapper">
        <h2>This Is Me</h2>
        <p>Heloo efsg gs g srg sreh rh srh e</p>
        <br><br><br>
        <h2>SKILLS</h2>
        <div class="row gutters">
            <div class="col span_3">
                <a href="#"><img src="images/icon1.png" alt="Easy Costumize">
                    <h4>APPLICATION DEVELOPMENT</h4>
                    <p>JAVA , C++ , C#, Visual Studio, .NET, </p></a>
            </div>
            <div class="col span_3">
                <a href="#"><img src="images/icon2.png" alt="Responsive Design">
                    <h4>SYSTEM <br>ANALYSIS</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p></a>
            </div>
            <div class="col span_3">
                <a href="#"><img src="images/icon3.png" alt="Fully Documented">
                    <h4>WEB DESIGN AND DEVELOPMENT</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p></a>
            </div>
            <div class="col span_3">
                <a href="#"><img src="images/icon4.png" alt="Excellent Features">
                    <h4>ARDUINO <BR>  <BR></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p></a>

            </div>
        </div>
    </div>
</section>
<% include ./partials/footer.ejs %>