<% include ./partials/header.ejs %>


<div id="banner">
    <div class="blueberry">
        <ul class="slides">
            <li><img src="images/img1.jpg" alt="banner 1">
                <div class="banner-image1">
                    <h1>HELLO! I'M BALPREET</h1>
                    <h1>YOU MAY CALL ME SURFY</h1>
                    <a href="/about">Know Me</a>
                </div>
            </li>
            <li><img src="images/img2.jpg" alt="banner 2">
                <div class="banner-image2">
                    <h1>Things I've Done</h1>
                    <p>Have a look at some of the things I've made so far in my program and elsewise.</p>
                    <a href="/projects">Projects</a>
                </div>
            </li>
            <li><img src="images/img3.jpg" alt="banner 3">
                <div class="banner-image1">
                    <h1>Help Me Help You</h1>
                    <h1>Let's Get It From Your Mind To The Web</h1>
                    <a href="/contact">Contact Me</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<% include ./partials/footer.ejs %>
