<% include ./partials/header.ejs %>
<section id="portfolio">
    <div class="wrapper">
        <h2>PROJECTS</h2>
        <input name="radio-set-1" type="radio" checked="checked" id="selector-all" class="c-selector-all">
        <label for="selector-all" class="label-all">All</label>
        <input name="radio-set-1" type="radio" id="selector-one" class="c-selector-one">
        <label for="selector-one" class="label-one">Arduino</label>
        <input name="radio-set-1" type="radio" id="selector-two" class="c-selector-two">
        <label for="selector-two" class="label-two">Web Design</label>
        <input name="radio-set-1" type="radio" id="selector-three" class="c-selector-three">
        <label for="selector-three" class="label-three">InDesign</label>
        <div class="clr"></div>
        <ul class="ff-items">
            <li class="ff-item-type-1">
                <a href="#">

                    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmejoekickass%2Fvideos%2F1601099503248631%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>                </a>
            </li>
            <li class="ff-item-type-1">
                <a href="#">
                    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmejoekickass%2Fvideos%2F1601111563247425%2F&show_text=0&width=400" width="400" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>                </a>
            </li>
            <li class="ff-item-type-1">
                <a href="#">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmejoekickass%2Fposts%2F1601108423247739&width=500" width="500" height="380" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>                </a>
            </li>
            <li class="ff-item-type-1">
                <a href="#">
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmejoekickass%2Fposts%2F1601102136581701&width=500" width="500" height="503" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>                </a>
            </li>
            <li class="ff-item-type-2">
                <a href="http://gc200335082.computerstudi.es/poster/"target="_blank">
                    <img src="images/services3.png" alt="image 5"> Click to open website
                </a>
            </li>
            <li class="ff-item-type-2">
                <a href="http://gc200335082.computerstudi.es/project/more.html"target="_blank">
                    <img src="images/services3.png" alt="image 6"> Click to open website
                </a>
            </li>
        </ul>
    </div>
    <div class="clr"></div>
</section>
<% include ./partials/footer.ejs %>