<% include ./partials/header.ejs %>
<section id="services">
    <div class="wrapper row">
        <h2>SERVICES</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p>

        <div class="col span_6 row gutters">
            <div class="col span_3"><img src="images/services1.png" alt="image"></div>
            <div class="col span_9">
                <h4>SEARCH ENGINE OPTIMIZATION</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
        </div>
        <div class="col span_6 row gutters">
            <div class="col span_3"><img src="images/services2.png" alt="imageright"></div>
            <div class="col span_9">
                <h4>E-COMMERCE SOLUTION</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
        </div>

        <div class="col span_6 row gutters">
            <div class="col span_3"><img src="images/services3.png" alt="image"></div>
            <div class="col span_9">
                <h4>PHOTOGRAPHYN</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
        </div>
        <div class="col span_6 row gutters">
            <div class="col span_3"><img src="images/services4.png" alt="imageright"></div>
            <div class="col span_9">
                <h4>VIDEO EDITING</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
        </div>

        <div class="col span_6 row gutters">
            <div class="col span_3"><img src="images/services5.png" alt="image"></div>
            <div class="col span_9">
                <h4>START LAUCHING</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
        </div>
        <div class="col span_6 row gutters">
            <div class="col span_3"><img src="images/services6.png" alt="imageright"></div>
            <div class="col span_9">
                <h4>MOBILE DEVELOPMENT</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
        </div>
    </div>
</section>
<% include ./partials/footer.ejs %>